<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header><h1><%= title %></h1></header>
    <div class="mainContainer">
      <p>Welcome to <%= title %></p>
      <div class="topImage">
        <img
          src="/images/KRend-house.jpg"
          width="50%"
          height="50%"
          alt="k-rend house"
        />
      </div>
      <hr />
      <div class="introductionText">
        <p>
          The plaster calculator is a handy tool designed to help you save money
          on your plastering projects by ensuring you only buy what you need. It
          uses calculations based on the product's technical data sheet, giving
          you a reliable estimate of how much plaster is required for your
          specific area. By relying on these accurate coverage figures, you can
          avoid over-purchasing and keep your costs down.
        </p>

        <p>
          We also know that suppliers can sometimes be a bit optimistic with
          their coverage rates, so the calculator includes a contingency option.
          This allows you to add a little extra to your estimate, just in case
          the plaster doesn't go as far as expected. With this thoughtful
          feature, you can feel confident that you'll have enough plaster to get
          the job done, without overspending or running out mid-project.
        </p>
      </div>
      <hr />
      <div class="userContainer">
        <div class="inputArea">
          <h3><u>Input Area</u></h3>
          <form id="inputForm" action="/submit" method="POST">
            <label for="plasterSelect">Select Plaster Type:</label>
            <select id="plasterSelect" name="plasterSelect">
              <% plasters.forEach(function(plaster) { %>
              <option value="<%= plaster.id %>">
                <%= plaster.plasterName %>
              </option>
              <% }); %>
            </select>
            <label for="lengthInput">Please enter area length (metres):</label>
            <input
              type="number"
              id="lengthInput"
              name="lengthInput"
              step="0.01"
              placeholder="0.00"
            />

            <label for="widthInput">Please enter area width (metres):</label>
            <input
              type="number"
              id="widthInput"
              name="widthInput"
              step="0.01"
              placeholder="0.00"
            />

            <label for="thicknessInput"
              >Please enter plaster thickness (mm):</label
            >
            <input
              type="number"
              id="thicknessInput"
              name="thicknessInput"
              step="0.01"
              placeholder="0.00"
            />

            <label for="contingencyInput"
              >Please enter plaster Contingency (%):</label
            >
            <input
              type="number"
              id="contingencyInput"
              name="contingencyInput"
              step="0.01"
              placeholder="0.00"
            />

            <button id="submitButton" type="submit">Submit</button>
          </form>
        </div>
        <hr />
        <div class="outputArea">
          <h3><u>Results</u></h3>
          <label for="totalArea">Total Area (m²):</label>
          <input type="text" id="totalArea" readonly />
          <label for="plasterNeeded">Plaster needed (Kg):</label>
          <input type="text" id="plasterNeeded" readonly />
          <label for="contingencyNeeded">Contingency needed (Kg):</label>
          <input type="text" id="contingencyNeeded" readonly />
          <label for="totalPlasterNeeded">Total plaster needed (Kg):</label>
          <input type="text" id="totalPlasterNeeded" readonly />
          <label for="bagsRequired">Bags required:</label>
          <input type="text" id="bagsRequired" readonly />
        </div>
      </div>
    </div>
    <script src="\javascripts\scrips.js"></script>
  </body>
</html>
